.page {
    background-color: #EAEAEA;
}
.row {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
}

.h2, .h1, .h3 {
    margin: 0;
}

.page__main {
    padding-bottom: 29px;
    box-shadow: 0 5px 0 #914DCF;
}
.page__header {
    max-width: 940px;
    margin: 0 auto;
}
.header__row {
    padding-bottom: 22px;
    align-items: center;
}
.header__logo {
    padding-right: 36px;
}
.header__span {
    font-family: Nexa, sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding-right: 10px;
}
.header__quicklinks {
    display: flex;
    padding-left: 50px;
    color: #c7c7c7;
}
.header__span_dropdown {
    padding-left: 15px;
    color: #58159b;
}
.header__search-form {
    background-color: #FEFEFE;
    display: flex;
}

.search-form__search-field {
    border: none;
    font-family: Nexa, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 260px;
    /* padding-left: 35px; */
    padding: 15px 0 15px 23px;
}

.search-form__search-button {
    border: none;
    background-color: #FEFEFE;
    padding-right: 14px;
    padding-top: 5px;
}
.navigation {
    display: flex;
    /* align-content: center; */
}
.header__navigation {
    max-width: 100%;
    transform: TRANSLATEY(8px);
}

.navigation__element {
    display: flex;
    flex-direction: column;
    align-content: center;
    background: linear-gradient(180deg, #FFFFFF, #E5E5E5);
    color: #7d7d7d;
}

.navigation__img {
    margin: 0 auto;
    margin-top: 17px;
}

.navigation__link {
    font-family: PT-Sans Bold, sans-serif;
    font-size: 17px;
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 30px;
}

.navigation__element:nth-child(1) {
    padding-left: 4%;
    padding-right: 4%;
    box-shadow: 0 5px 0 #6017A3;
}

.navigation__element:nth-child(2) {
    padding-left: 6%;
    padding-right: 6%;
    box-shadow: 0 5px 0 #701DBB;
}

.navigation__element:nth-child(3) {
    padding-left: 6%;
    padding-right: 5%;
    box-shadow: 0 5px 0 #8038C2;
}

.navigation__element:nth-child(4) {
    padding-left: 6%;
    padding-right: 5%;
    box-shadow: 0 5px 0 #A34FF0;
}

.navigation__element:nth-child(5) {
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 5px 0 #8038C2;
}

.navigation__element:nth-child(6) {
    padding-left: 4.5%;
    padding-right: 4.8%;
    box-shadow: 0 5px 0 #701DBB;
}

.navigation__element:hover {
    transform: TRANSLATEY(-11px);
    box-shadow: 0 16px 0 #701DBB;
    color: #701dbb;
}

.slider {
    background: url("../images/Slider.png");
    background-size: cover;
    max-width: 1550px;
    margin: 0 auto;
    display: flex;
}

.slider__icon {
    margin: 0 auto;
    padding-top: 195px;
    padding-bottom: 200px;
}

.icon:hover {
    filter: invert();
}

.location {
    display: flex;
    flex-direction: column;
    background-color: #2D2D2D;
    /*margin: 0 auto;*/
    padding-bottom: 85px;
    text-align: center;
}

.location__h1 {
    padding-top: 50px;
    font-family: Nexa, sans-serif;
    font-size: 36px;
    color: #DFDFDF;
    letter-spacing: 1.2px;
}

.location__span {
    font-family: Nexa Bold, sans-serif;
    font-size: 14px;
    color: #701dbb;
}

.location__map {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 980px;
}

.map__img {
    width: 100%;
}

.location__icons {
    margin: 0 auto;
    max-width: 100%;
    margin-top: -20px;
}

.location__row {
    max-width: 940px;
    padding-top: 30px;
    text-align: left;
}

.location__article {
    width: 32%;
    padding-top: 13px;
}

.location__h2 {
    font-family: Nexa-Book, sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
    color: #FEFEFE;
    letter-spacing: 0.8px;
}

.location__p {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #FEFEFE;
    line-height: 1.9;
    letter-spacing: 0.3px;
}

.screen {
    margin: 0 auto;
    background-color: #222222;
}

.screen__text {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 1255px;
    padding-top: 300px;
    padding-bottom: 88px;
    display: flex;
    flex-direction: column;
    background: #aaaa;
}

.screen__h2 {
    margin: 0 auto;
    font-family: Nexa-Book, sans-serif;
    font-size: 36px;
    color: #FEFEFE;
}

.screen__p {
    margin: 0 auto;
    font-family: Nexa Bold, sans-serif;
    font-size: 14px;
    color: #8038C2;
    padding-top: 22px;
}

.content {
    margin: 0 auto;
    max-width: 940px;
    padding-top: 73px;
}

.content__team {
    display: flex;
    flex-direction: column;
}

.content__text {
    color: #717171;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 37px;
}

.content__text::before {
    content: url("../images/Rounded Rectangle 3 copy.png");
    position: absolute;
    margin-left: -472px;
    margin-top: 11px;
}

.content__text::after {
    content: url("../images/Rounded Rectangle 3 copy.png");
    position: absolute;
    margin-left: 166px;
    margin-top: -35px;
}

.text__h2 {
    font-family: Nexa-Book, sans-serif;
    font-size: 36px;
    /* margin: 0 auto; */
    padding-bottom: 6px;
}

.text__span {
    font-family: Nexa Bold, sans-serif;
    font-size: 14px;
}

.content__row {

    padding-bottom: 90px;
}

.content__person {
    color: #7B7B7B;
}

.content__h3 {
    font-family: PT-Sans Bold, sans-serif;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.content__span_person {
    font-family: PT-Sans, sans-serif;
    font-size: 14px;
}

.content__icon {
    position: absolute;
    margin-top: -60px;
    margin-left: 178px;
}

.text-box {
    margin: 0 auto;
    max-width: 940px;
}

.text-box__row {
}

.text-box__article {

    background-color: #FEFEFE;
}

.text-box__h2 {
    font-family: Nexa Bold, sans-serif;
    font-size: 30px;
    letter-spacing: 0.6px;
}

.text-box__p_Purple-Heart {
    font-family: Nexa Bold, sans-serif;
    font-size: 14px;
    color: #6B26A9;
    letter-spacing: 0.2px;
    line-height: 1.8;
    padding-right: 30px;
}

.text-box__p {
    font-family: Nexa Bold, sans-serif;
    font-size: 11px;
    padding-top: 20px;
    line-height: 2;
    padding-right: 38px;
    letter-spacing: 0.2px;
    padding-bottom: 80px;
}

.text-box__article_column {
    padding-top: 56px;
    padding-left: 50px;
    padding-right: 34px;
    max-width: 40%;
}

.text-box__article_wide {
    margin-top: 18px;
    padding-top: 70px;
    padding-left: 49px;
    padding-bottom: 1px;
    padding-right: 30px;
}

.text-box__icon {
    position: absolute;
    margin-left: -50px;
    margin-top: -56px;
}

.li {
    font-family: Nexa, sans-serif;
    font-size: 12px;
}

.page__footer {
    background-color: #373737;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

.footer__row {
    padding-top: 25px;
    margin: 0 auto;
}

.footer__logo {

}

.footer__navigation {
}

.footer__navigation-element {
    color: #D7D7D7;
    margin-left: 47px;
    text-decoration: none;
    padding-top: 23px;
    margin-bottom: 8px;
}

.footer__navigation-element:hover {
    /*transform: TRANSLATEY(-10px);*/
    box-shadow: 0 5px 0 #914DCF;

}

.footer__p {

}

.footer__contacts {

}

.footer__contacts-element {
    list-style: none;
}

.footer__copyright {
}

.footer__copyright-list {
}

.footer_copyright-element {
    list-style: none;
}

.footer__copyright-p {
}


@font-face {
    font-family: Nexa-Black;
    src: local(Nexa-Black),
    url("../fonts/Nexa-Black.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Nexa-Book;
    src: local(Nexa-Book),
    url("../fonts/Nexa-Book.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Nexa-XBold;
    src: local(Nexa XBold),
    url("../fonts/Nexa-XBold.otf");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: Nexa;
    src: local(Nexa),
    url("../fonts/Nexa-Regular.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Nexa Bold;
    src: local(Nexa Bold),
    url("../fonts/Nexa-Bold.otf");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: PT-Sans Bold;
    src: local(Pt-Sans Bold),
    url("../fonts/PT-Sans-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: PT-Sans Italic;
    src: local(PT-Sans Italic),
    url("../fonts/PT-Sans-Italic.ttf");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: Quicksand;
    src: local(Quicksand),
    url("../fonts/Quicksand-Bold.otf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Helvetica;
    src: local(Helvetica),
    url("../fonts/helvetica.otf");
}